{% extends 'base.html' %}

{%block title%}
Cabinet Start
{%endblock%}
{%block body%}

  <div class="py-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav">
            <li class="nav-item">
              <a href="#" class="nav-link active">Nav item</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link active">Nav item</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Drop</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-6"><img class="img-fluid d-block rounded-circle shadow" src="https://static.pingendo.com/img-placeholder-3.svg"></div>
        <div class="col-md-6">
          <div class="table-responsive shadow">
            <table class="table table-bordered ">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>First</th>
                  <th>Last</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}