{% extends 'base.html' %}

{%block title%}
Cabinet Start
{%endblock%}
{%block body%}
<style>
    .picture__button{
  display:inline-block;
  position:absolute;
  margin-top:43%;
  margin-left:40%;
  width:20%;
  height:10%;
  z-index:2;
  background:none;
  border:1px solid;
  font-size:20px;
  font-weight:bold;
  color:#fff;
}
.picture__button:hover{
background-color:black;
}
</style>

<div class="py-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Nav item</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Nav item</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">Drop</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="py-1">
    <div class="container">
        <input type="file" hidden id="img-load">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <img class="img-fluid d-block rounded-circle shadow"
                         src="https://static.pingendo.com/img-placeholder-3.svg">
                    <input type="button" onclick="javascript:document.getElementById('img-load').click()" class="picture__button" value="+" />
                </div>
                <div class="row py-3">
                    <ul>
                        <div>
                            <li>Corparation -</li>
                        </div>
                        <div>
                            <li>Department -</li>
                        </div>
                        <div>
                            <li>Role -</li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col"></div>
            <div class="col-md-7">
                <div class="table-responsive shadow">
                    <table class="table table-bordered ">
                        <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>action</th>
                            <th>value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>1</th>
                            <td>username</td>
                            <td><input class="updater form-control" type="text" value="{{user.username}}" data-value="username"/></td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>first name</td>
                            <td><input class="updater form-control" type="text" value="{{user.first_name}}" data-value="first_name"/></td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>last name</td>
                            <td><input class="updater form-control"  type="text" value="{{user.last_name}}" data-value="last_name"/></td>
                        </tr>

                        <tr>
                            <th>4</th>
                            <td>email</td>
                            <td><input class="updater form-control" type="text" value="{{user.email}}" data-value="email"/></td>
                        </tr>
                        <tr>
                            <th>5</th>
                            <td>change password</td>
                            <td><input type="button" class="btn btn-primary" value="change pass" /></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

  <div id="body-toast" style="position: absolute; top: 0; right: 0;">

  </div>

</div>


<script>
var timerId;
$('input.updater').on('keyup',function(e){
clearTimeout(timerId);
let atr =  $(this).attr('data-value');
let value =  $(this).val();
let data = {'value':value,'name':atr};
timerId = setTimeout(sendData,1000,data,"{%url 'upd_data_user' %}",this);
});

function sendData(data,url,e){
var token = '{{csrf_token}}';
$.ajax({
        headers: { "X-CSRFToken": token },
        type: "POST",
        url: url,
        data: data,
        success : function(text){
                var suc_toast = jQuery(`{% include "elements/toast/succes_load_toast.html" %}`);
                $("#body-toast").append(suc_toast);
                suc_toast.find(".toast-body").html('success load data');
                $('.toast').toast('show');
                hideToast(suc_toast,2000);
        }
    }).fail(function(text){
    console.log(text);
       var err_toast = jQuery(`{% include "elements/toast/error_load_toast.html" %}`);
        $("#body-toast").append(err_toast);
        err_toast.find(".toast-body").html(text.responseJSON.text);
        $('.toast').toast('show');
        hideToast(err_toast,2000);
    });
}
function hideToast(e,t){
setTimeout(()=>{ $(e).remove()},t)
}
</script>
{%endblock%}