{%extends 'base.html' %}

{%block title%}
Create Corparation
{%endblock%}

{%block body%}
<div class="container-fluid bg-dark" >
<form method="post">
  {% csrf_token %}
      {% for field in form %}
    <div class="form-group" style="width:60%;margin-left:20%;color:white;">

      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </div>
  {% endfor %}
  <div class="submit-row  px-lg-5 ">
            <input type="submit"  class="btn btn-primary" value="Create" name="submit">
    </div>
</form>
</div>
{% endblock %}