{% extends 'base.html' %}
{% load static %}
{%block title%}
start Page
{%endblock%}

{%block body%}


 <div class="py-5 text-center text-white" style="position: relative; overflow: hidden;"> <video autoplay="" loop="" muted="" plays-inline="" style="position: absolute; right: 0; top: 0; min-width:100%; z-index: -100;">
      <source src="{%static 'video/vid.mp4'%}" type="video/mp4"> </video>
    <div class="container py-5">
      <div class="row" style="">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1 class="mb-4 display-3">saves your data&nbsp;</h1>
          <a href="#" class="btn btn-lg btn-primary mx-1">To learn more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center bg-dark">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-5 col-md-7 col-10">
          <h1 class="text-light">O my friend</h1>
          <p class="mb-3 text-light">I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p> <a class="btn btn-primary" href="#">Act now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-dark" id="price">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-12">
          <h1 class="text-white">Choose your plan</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 p-3">
          <div class="card bg-light">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-8 shadow-lg">
                  <h3 class="mb-0">Start</h3>
                </div>
                <div class="col-4 text-right">
                  <h2 class="mb-0 shadow-lg"> <b>$0</b> </h2>
                </div>
              </div>
              <p class="my-3">A wonderful serenity has taken possession of my entire soul.</p>
              <ul class="pl-3">
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
              </ul> <a class="btn btn-primary mt-3" href="#">Get started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 p-3">
          <div class="card bg-light">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-8 shadow-lg">
                  <h3 class="mb-0">Hobby</h3>
                </div>
                <div class="col-4 text-right">
                  <h2 class="mb-0 shadow-lg"> <b>$9</b> </h2>
                </div>
              </div>
              <p class="my-3">I sink under the weight of the splendour of these visions!</p>
              <ul class="pl-3">
                <li>Four</li>
                <li>Five</li>
                <li>Six</li>
              </ul> <a class="btn btn-primary mt-3" href="#">Get started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 p-3">
          <div class="card bg-light">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-8 shadow-lg">
                  <h3 class="mb-0">Pro</h3>
                </div>
                <div class="col-4 text-right shadow-lg">
                  <h2 class="mb-0"> <b>$18</b> </h2>
                </div>
              </div>
              <p class="my-3">I feel the presence of the Almighty, who formed us in his own image.</p>
              <ul class="pl-3">
                <li>Seven</li>
                <li>Eight</li>
                <li>Nine</li>
              </ul> <a class="btn btn-primary mt-3" href="#">Get started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




{%endblock%}